@import "catppuccin-mocha.rasi"
* {
    BG:    @surface0;
    BGA:   @surface2;
    FG:    @text;
    FGA:   @subtext1;
    BDR:   @rosewater;
    SEL:   @surface0;
    UGT:   @surface1;
    IMG:   @surface1;
    OFF:   @surface1;
    ON:    @surface1;
}
